body {
  margin:0 auto;
  font-family: Helvetica, Verdana, sans-serif;
}

header, main, footer {
  text-align: center;
}

header {
  margin-top: 10px;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

table {
  margin: 0 auto;
  width: 500px;
}

table td {
  width: 50%;
  vertical-align: top;
}

ul.services {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 20px;
  text-align: left;
}

ul.links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
}

ul.links li {
  display: inline;
}

footer {
  margin-top: 10px;
  color: #999999;
  font-size: 12px;
}
